@page "/"
<PageTitle>Index</PageTitle>

<style>
    @@keyframes tipsy 
    {
        0 
        {
            transform: translateX(-50%) translateY(-50%) rotate(0deg);
        }
        100% 
        {
            transform: translateX(-50%) translateY(-50%) rotate(360deg);
        }
    }

    html, body 
    {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }

    body 
    {
    font-family: helvetica, arial, sans-serif;
    background-color: #2e2e31;
    }

    h1 
    {
    color: #ffffff;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-size: 80px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -3px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    }

    h1:before, h1:after 
    {
    content: '';
    padding: .9em .4em;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    display: block;
    border: 15px solid red;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    animation: 10s infinite alternate ease-in-out tipsy;
    }

    h1:before 
    {
    border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
    }

    h1:after 
    {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
    box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
    }

    .Friend
    {
        position: absolute; 
        bottom: 1%; 
        left: 37%; 
        color: white;
    }
</style>

<div style="margin-top: 45%">
    <h1 target="_blank">Nothing to see here :)</h1>
</div>

<p Class="Friend">
    P.S: Credit for the CSS effect goes to <a href="https://codepen.io/jamesmellers/pen/XKmyoo">James Mellers</a> on CodePen
</p>